html {
    height: 100%;
}
body {
    width: 100%;
    margin: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.753), rgba(0, 0, 0, 0.425))no-repeat fixed, url(resources/Standgrad.jpg)no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    flex-direction: column;
}



/*header*/

a {
    text-decoration: none;
    color: rgba(102, 102, 102, 0.721);
}
a:hover {
    color:rgb(132, 117, 66);
}

.footer , .header {
    display: flex;
    justify-content: center;
    position: sticky;
    padding: 10px;
    
}

.logo {
    margin: 0;
    max-height: 90px;
}


ul {
    display: flex;
    list-style: none;
    gap: 8px;
}


.text {
    font-family:'Segoe UI';
    font-stretch:wider;
    font-size: 25px;
    font-weight: 350;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    height: 150px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.639));
}



/*first view section*/
.block{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.first{
    width:50em;
}

.border:before {
    content: "";
    z-index: 1;
    display:block;
    position:absolute;
    top:60%;
    left: 15%;
    border: 2px solid rgb(217, 191, 138);
    transform: translate(-50%,-50%);
    animation:border-animation 2s forwards;

}

.animated-text , .subtext {
    
    transform: translate(-50%,-50%);
    display: flex;
    font-family: "book";
    font-weight: 600;
    font-size: 80px;
    text-shadow: rgb(0, 0, 0)1px 0px 10px ;
    color:rgb(217, 191, 138);
    animation:  slideIn 2s forwards;
}

.subtext {
    justify-content: right;
    margin-top: -2em;
    margin-bottom:9em;
    font-family: "skinny";
    font-size:20px;
}



/*description of home city section*/
.grew {
    padding-right: 4em;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.63);

}

.boxText{
    
    display: flex;
    
    color:rgb(217, 174, 138);
    font-family: "book";
    font-weight: 600;
    font-size: 40px;
    gap: 6px;
    text-shadow: rgb(0, 0, 0)1px 0px 10px ;
    
}
.writtenContainer {
    margin-top: 10em;
text-align: center;
justify-content: center;
    background-color: blue;
}
.Boxsubtext {

    text-align: center ;
    font-family:"skinny";
    word-spacing: 5px;
    letter-spacing: 1px;
    font-weight: 500;
    font-stretch:50px;
    font-size:20px;
    color: rgb(228, 218, 196);
    padding: 1px;

}


/*this is the section with my logos of knowledge*/
.blockedout {
display: flex;
align-items: center;
justify-content: center;
position: relative;
width:100%;
align-items: center;
justify-content: center;

}
.backImage {
    padding-right: 4em;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(197, 67, 67, 0.63);
    max-width: 100%;
}

.images{

    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    height: 15%;
    width: 15%;
    aspect-ratio:3/2;
    object-fit:contain;
}
/*the footer etc*/
.footer {
    position: relative;  
    background-color: rgba(0, 0, 0, 0.63);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: small;
    gap:10px;
}

.footerHeader {
    font-family:'Segoe UI';
    font-stretch:;
    font-size: 20px;
    font-weight: 300;
    color: rgba(155, 155, 155, 0.637);
}

.github 
{
    
    filter:opacity(0.379);
    height: 25px;
    display: inline-block;
    
}


.github:hover
{
    transform: scale(1.2);
    transition-duration: 0.5s;
}

@font-face {
    font-family: "skinny";
    src: url(resources/BebasNeue-Light.ttf);
}

@font-face {
    font-family: "normalBebas";
    src: url(resources/BebasNeue-Regular.otf);
}

@font-face {
    font-family: "book" ;
    src: url(resources/BebasNeue-Book.ttf);
} 

@font-face {
    font-family: "mauruce";
    src: url(resources/mauruce.ttf);
}

@keyframes slideIn {
    0% {
       opacity:0;
       transform:translateX(-45%);
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity:0.5;
        transform:translateX(5%) ;
    }
    100% {
        opacity: 1;
        transform: translateX(0);

    }
}

@keyframes border-animation {
    0% {
        transform: translate(-50%, -50%)scaleY(0);
    }
    50% {
        transform: translate(-50%,-50%)scaleY(80);
    }
    100% {
        transform: translate(-50%, -50%)scaleY(65);
    }
}

